.icon-location {
  margin-right: 10px;
}

.icon-date {
  margin-right: 10px;
}

.icon-graduation {
  margin-left: 15px;
  margin-right: 10px;
}

h6 {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.icon-work {
  margin-left: 12px;
  margin-right: 10px;
}

li {
  line-height: 120%;
}

.portfolio-item {
  padding-right: 0%;
  padding-left: 0%;
  margin: 0%;
}

.btn-primary {
  background-color: #357EC7;
}

.btn-primary a {
  color: #fff;
}

.about .image {
  min-height: 600px;
}

.contact-me ul {
  list-style-type: none;
  padding-left: 0rem;
}

.contact-me ul li {
  margin-bottom: 10px;
}

/* .portfolio .portfolio-item {
    margin-bottom: 0px;
} */

.to-down {
  position: absolute;
  top: 45%;
}

.center-elt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.interest .section-title {
  padding-bottom: 0px;
}
.resume .resume-item h5 {
  display: inherit;
}

.clients .swiper-slide img {
  opacity: 1;
}

.portfolio .portfolio-item {
  margin-bottom: 0%;
}
.background-fix {
  background: url("../img/header-background.webp") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
}
.background-fix:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../img/header-background-mobile.webp) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 1000px) {
  .about .image {
    visibility: hidden;
    min-height: 0px;
  }

  .to-down {
    top: 28%;
  }

  #hero .btn-get-started {
    font-size: 32px;
  }

  .resume .resume-title {
    margin-top: 40px;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 15px;
  }

  .portfolio .portfolio-wrap .portfolio-info p {
    font-size: 10px;
  }

  #services {
    background: none;
  }

  .about {
    background-color: #fff;
  }
}
@media (max-width: 768px) {
  .to-down {
    top: 45%;
  }
  #hero {
    background: url(../img/hero-bg.webp) top center;
    width: 100%;
    height: 75vh;
    background-size: cover;
    padding: 0 15px;
  }
  .about {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: justify;
  }
  .services h5 {
    font-size: 1.6rem;
  }
  .interest {
    margin: 0px;
    margin-top: 0px;
    padding: 60px 0;
  }
  .resume .resume-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .icon-location {
    margin-left: 0px;
  }

  .hidden-text {
    display: none;
  }

  .services .container p {
    margin-top: revert;
  }

  .navbar ul li .hidden-nav {
    display: none;
  }
  .services h5 {
    font-size: 1.6rem;
  }

  .navbar-mobile ul {
    bottom: initial;
  }
}
